/* CSS file for for Harry's My Free Farm Bash Bot (front end)
   Copyright 2016-18 Harun "Harry" Basalamah */

.navilink { position:relative; width:45px; height:34px; margin:5px 5px 0px 0px; border-radius:19%; }
.navilink:hover { transform:scale(1.15); -webkit-transform:scale(1.15); }
.main_body { background-color:#4E7AB1; }
.queuetable { float:left; margin-right:20px }
h1 { margin-top: 0.07em; margin-bottom: 5px }
